.fullscreen-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.fullscreen-subtitle {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 20px 0 10px;
}

.fullscreen-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.fullscreen-list li {
  margin-bottom: 10px;
}
