.button-modal-example {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 10px;
  border: 1px solid var(--vtl-background);
  cursor: pointer;
  color: #fff;
  padding: 1rem;
  margin: 0;

  svg {
    margin-right: 1rem;
  }

  .material-symbols-outlined {
    margin-right: 0.5rem;
  }
  .material-symbols-outlined.plus {
    margin: 0 0.5rem;
  }
}

.examples {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  div {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  div, button {
    flex: 1;
  }
}
