<div class="content">
  <h2 class="content-title">Animation</h2>
  <div class="examples">
    <button
      class="button-modal-example"
      type="button"
      (click)="openWindowExample('fade')"
    >
      <span class="material-symbols-outlined"> transition_fade </span> Fade
    </button>
    <up-window-angular
      [isOpen]="isWindowOpenFade"
      title="Fade Window"
      subtitle="This window uses a fade animation."
      animation="fade"
      (confirm)="handleConfirm()"
      (cancel)="handleCancel()"
    >
      Fade content!
    </up-window-angular>

    <button
      class="button-modal-example"
      type="button"
      (click)="openWindowExample('slide-left')"
    >
      <span class="material-symbols-outlined"> arrow_back </span> Slide Left
    </button>
    <up-window-angular
      [isOpen]="isWindowOpenSlideLeft"
      title="Slide Left Window"
      subtitle="This window uses a slide animation."
      animation="slide-left"
    >
      Slide Left content!
    </up-window-angular>

    <button
      class="button-modal-example"
      type="button"
      (click)="openWindowExample('slide-right')"
    >
      <span class="material-symbols-outlined"> arrow_forward </span> Slide Right
    </button>
    <up-window-angular
      [isOpen]="isWindowOpenSlideRight"
      title="Slide Right Window"
      subtitle="This window uses a slide animation."
      animation="slide-right"
    >
      Slide Right content!
    </up-window-angular>

    <button
      class="button-modal-example"
      type="button"
      (click)="openWindowExample('slide-up')"
    >
      <span class="material-symbols-outlined"> arrow_upward </span> Slide Up
    </button>
    <up-window-angular
      [isOpen]="isWindowOpenSlideUp"
      title="Slide Up Window"
      subtitle="This window uses a slide-up animation."
      animation="slide-up"
    >
      Slide Up content!
    </up-window-angular>

    <button
      class="button-modal-example"
      type="button"
      (click)="openWindowExample('slide-down')"
    >
      <span class="material-symbols-outlined"> arrow_downward </span> Slide Down
    </button>
    <up-window-angular
      [isOpen]="isWindowOpenSlideDown"
      title="Slide Down Window"
      subtitle="This window uses a slide-down animation."
      animation="slide-down"
    >
      Slide Down content!
    </up-window-angular>
    <button
      class="button-modal-example"
      type="button"
      (click)="openWindowExample('scale')"
    >
      <span class="material-symbols-outlined"> zoom_in </span> Scale
    </button>
    <up-window-angular
      [isOpen]="isWindowOpenScale"
      title="Scale Window"
      subtitle="This window uses a scale animation."
      animation="scale"
    >
      Scale content!
    </up-window-angular>
  </div>
</div>
