<div class="content">
  <h2 class="content-title">Animation</h2>
  <div class="examples">
    <div>
      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('fade')"
      >
        <span class="material-symbols-outlined"> &#xf50c; </span> Fade
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('scale')"
      >
        <span class="material-symbols-outlined"> &#xe8ff; </span> Scale
      </button>
    </div>

    <div>
      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('slide-left')"
      >
        <span class="material-symbols-outlined"> &#xe5c4; </span> Slide Left
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('slide-right')"
      >
        <span class="material-symbols-outlined"> &#xe5c8; </span> Slide Right
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('slide-up')"
      >
        <span class="material-symbols-outlined"> &#xe5d8; </span> Slide Up
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('slide-down')"
      >
        <span class="material-symbols-outlined"> &#xe5db; </span> Slide Down
      </button>
    </div>

    <div>
      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('rotate-left')"
      >
        <span class="material-symbols-outlined"> &#xe419; </span> Rotate Left
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('rotate-right')"
      >
        <span class="material-symbols-outlined"> &#xe41a; </span> Rotate Right
      </button>
    </div>


    <div>
      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('flipper-left')"
      >
        <span class="material-symbols-outlined"> &#xeb59; </span> Flipper Left
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('flipper-right')"
      >
        <span class="material-symbols-outlined"> &#xeb52; </span> Flipper Right
      </button>

      <button
        class="button-modal-example"
        type="button"
        (click)="openWindowExample('flipper-up')"
      >
        <span class="material-symbols-outlined"> &#xeb2e; </span> Flipper Up
      </button>
    </div>
  </div>
</div>

<up-window-angular
  [isOpen]="isWindowOpenFade"
  title="Fade Window"
  subtitle="This window uses a fade animation."
  animation="fade"
  (confirm)="handleConfirm()"
  (cancel)="handleCancel()"
>
  Fade content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenSlideLeft"
  title="Slide Left Window"
  subtitle="This window uses a slide animation."
  animation="slide-left"
>
  Slide Left content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenSlideRight"
  title="Slide Right Window"
  subtitle="This window uses a slide animation."
  animation="slide-right"
>
  Slide Right content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenSlideUp"
  title="Slide Up Window"
  subtitle="This window uses a slide-up animation."
  animation="slide-up"
>
  Slide Up content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenSlideDown"
  title="Slide Down Window"
  subtitle="This window uses a slide-down animation."
  animation="slide-down"
>
  Slide Down content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenScale"
  title="Scale Window"
  subtitle="This window uses a scale animation."
  animation="scale"
>
  Scale content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenRotateLeft"
  title="Rotate Left Window"
  subtitle="This window uses a rotate-left animation."
  animation="rotate-left"
>
  Rotate Left content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenRotateRight"
  title="Rotate Right Window"
  subtitle="This window uses a rotate-right animation."
  animation="rotate-right"
>
  Rotate Right content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenFlipperLeft"
  title="Flipper Left Window"
  subtitle="This window flips in from the left."
  animation="flipper-left"
>
  Flipper Left content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenFlipperRight"
  title="Flipper Right Window"
  subtitle="This window flips in from the right."
  animation="flipper-right"
>
  Flipper Right content!
</up-window-angular>

<up-window-angular
  [isOpen]="isWindowOpenFlipperUp"
  title="Flipper Up Window"
  subtitle="This window flips in from the top."
  animation="flipper-up"
>
  Flipper Up content!
</up-window-angular>
